/* Css Reset  */
body {
    font-family: "Baloo Bhai 2", sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('bg.jpg');
}

.left {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 40px;
}

.mid {
    /* border: 2px solid green; */
    display: block;
    margin: 20px auto;
    width: 45%;
}

.right {
    /* border: 2px solid yellow; */
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 22px;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 20px;
}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.left img {
    width: 100px;
    height: 60px;
    margin-left: 15px;
}

.left div {
    text-align: center;
    line-height: 10px;
    font-size: 23px;
    margin-left: 3px;
}

.btn {
    margin: 14px 8px;
    padding: 5px 14px;
    background-color: black;
    color: white;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
    font-optical-sizing: auto;
}

.btn:hover {
    background-color: rgb(43, 43, 43);

}

.container {
    border: 2px solid white;
    margin: 70px 70px;
    border-radius: 18px;
    padding: 42px 73px;
    width: 45%;
}

.form-group input {
    text-align: center;
    display: block;
    width: 344px;
    /* padding: 8px; */
    border: 2px solid black;
    margin: 12px auto;
    font-size: 23px;
    border-radius: 8px;
    font-weight: weight;
}

.container h1 {
    text-align: center;
    font-style: normal;
}

.container button {
    display: block;
    width: 300px;
    margin: 40px auto;
}